<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p> Demonstrates EC2's capability to host and operate a website.</p>
    <p> Demonstrates EC2's capability to host and operate a website.</p>
    <p> Demonstrates EC2's capability to host and operate a website.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>